{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class ="content">
    <h1>Search Engine</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Repudiandae ab quibusdam sapiente, impedit dicta fugiat architecto culpa deleniti fuga eum amet eius 
        maiores repellat quam blanditiis alias numquam velit nam!</p>   
    <br>
    <h1>How to use</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Repudiandae ab quibusdam sapiente, impedit dicta fugiat architecto culpa deleniti fuga eum amet eius 
        maiores repellat quam blanditiis alias numquam velit nam!</p>   
    <h1>About Us</h1>
    <br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Repudiandae ab quibusdam sapiente, impedit dicta fugiat architecto culpa deleniti fuga eum amet eius 
    maiores repellat quam blanditiis alias numquam velit nam!</p>        
    </div>

    <br><br><br>
    <a href="search">Return</a>
</div>



{% endblock %}