{% extends 'base.html' %}
{% include '_navbar.html'%}
{% block body %}
<div class="container center">
    <img id="logo" src="{{url_for('static',filename='img/logo-combined.png')}}" alt="">
    <form action="{{ url_for('search') }}" method="POST" enctype="multipart/form-data">
        {{ search.query(id="searchbar", placeholder="Search") }} <!-- inside brakcets: class=""  (useful for styling)-->
        {{ search.submit(class="btn") }} 
    </form>
    <a href="/upload" ><button class="btn" id="file-btn">Add more files</button></a>
</div>
<!-- <div>
    <h1>Search</h1>
    <form action="{{ url_for('search') }}" method="POST" enctype="multipart/form-data">
        {{ search.query() }} 
        {{ search.submit() }} 
    </form>
</div> -->
{% endblock %}