{% extends 'base.html' %}
{% include '_navbar.html'%}
{% block body %}
<div class="container center">
    <img id="logo" src="{{url_for('static',filename='img/logo-combined.png')}}" alt="">
    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        {{ upload.hidden_tag() }}
        {{ upload.file(id="uploadedfile") }} 
        <br>
        {{ upload.submit(class="btn") }} 
    </form>
    <a href="/search"><button class="btn">Start Searching</button></a>
    <br>
</div>
    
<!-- </div>
<div>
    <h1>Upload file</h1>
    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        {{ upload.hidden_tag() }} 
        {{ upload.file() }} 
        {{ upload.submit() }} 
    </form>
</div> -->
{% endblock %}