input {
    margin: 10px 5px;
}

body {
    background-color: #EAE0CC!important;
}

body h1,body h2,body h3,body form,body .btn {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

body p, body li{
    font-family: 'Poppins', Arial, Helvetica, sans-serif!important;
}

li::marker{
    opacity: 0%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

input[type="text"]{
    width: 50%;
    border: 1px solid lightgrey;
    border-radius: 20px;
    height: 40px;
    padding: 0 20px;
}

.btn{
    background-color: #E1515F;
    color:  white;
}

input[type="submit"]{
    background-color: #2A4650;
}

#logo{
    height: 100px;
}

#logo, #logo-text{
    display: inline;
    margin-bottom: 20px;
}

.result-list{
    margin: 20px 0;
}

.navbar{
    background-color: #2A4650;
}

.dokumen{
    margin: 40px 0;
}

a:link{
    color: #2F9C95;
}

a:hover{
    color: #E1515F;
}

th {
    background-color: #2A4650;
    color: white;
}

.similarity-table td, .similarity-table th {
  border: 1px solid  #2A4650;
  padding: 8px;
}

.similarity-table tr:hover {background-color: #ddd;}

.table-container {
    overflow-x: auto;
    height: 350px;
}

tbody{
    overflow: auto;
}

.jumbotron{
    background-image: url(https://images.unsplash.com/photo-1592179900427-1631dd95b04a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1774&q=80); 
    background-size: auto, cover; 
}

#ourteam h2 {
    text-align:center;
}

.navbar-dark{
    color: white;
}

#ourteam .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  #ourteam .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

